<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Prediction</title>
</head>
<body>
    <h1>Model Prediction</h1>
    <form method="post" action="/predict">
        <label for="Champion_1_Number">Champion 1:</label>
        <input type="text" name="Champion_1_Number" value="1" required><br>

        <label for="Champion_2_Number">Champion 2:</label>
        <input type="text" name="Champion_2_Number" value="1" required><br>

        <label for="Champion_3_Number">Champion 3:</label>
        <input type="text" name="Champion_3_Number" value="1" required><br>

        <label for="Champion_4_Number">Champion 4:</label>
        <input type="text" name="Champion_4_Number" value="1" required><br>

        <label for="Champion_5_Number">Champion 5:</label>
        <input type="text" name="Champion_5_Number" value="1" required><br>

        <label for="Champion_Banned_Number1">Banned Champion 1:</label>
        <input type="text" name="Champion_Banned_Number1" value="0" required><br>

        <label for="Champion_Banned_Number2">Banned Champion 2:</label>
        <input type="text" name="Champion_Banned_Number2" value="0" required><br>

        <label for="Champion_Banned_Number3">Banned Champion 3:</label>
        <input type="text" name="Champion_Banned_Number3" value="0" required><br>

        <label for="Champion_Banned_Number4">Banned Champion 4:</label>
        <input type="text" name="Champion_Banned_Number4" value="0" required><br>

        <label for="Champion_Banned_Number5">Banned Champion 5:</label>
        <input type="text" name="Champion_Banned_Number5" value="0" required><br>

        <label for="Team_Number">Team Number:</label>
        <input type="text" name="Team_Number" value="1" required><br>

        <label for="opponent_Champion_1_Number">Opponent Champion 1:</label>
        <input type="text" name="opponent_Champion_1_Number" value="1" required><br>

        <label for="opponent_Champion_2_Number">Opponent Champion 2:</label>
        <input type="text" name="opponent_Champion_2_Number" value="1" required><br>

        <label for="opponent_Champion_3_Number">Opponent Champion 3:</label>
        <input type="text" name="opponent_Champion_3_Number" value="1" required><br>

        <label for="opponent_Champion_4_Number">Opponent Champion 4:</label>
        <input type="text" name="opponent_Champion_4_Number" value="1" required><br>

        <label for="opponent_Champion_5_Number">Opponent Champion 5:</label>
        <input type="text" name="opponent_Champion_5_Number" value="1" required><br>

        <label for="opponent_Champion_Banned_Number1">Opponent Banned Champion 1:</label>
        <input type="text" name="opponent_Champion_Banned_Number1" value="0" required><br>

        <label for="opponent_Champion_Banned_Number2">Opponent Banned Champion 2:</label>
        <input type="text" name="opponent_Champion_Banned_Number2" value="0" required><br>

        <label for="opponent_Champion_Banned_Number3">Opponent Banned Champion 3:</label>
        <input type="text" name="opponent_Champion_Banned_Number3" value="0" required><br>

        <label for="opponent_Champion_Banned_Number4">Opponent Banned Champion 4:</label>
        <input type="text" name="opponent_Champion_Banned_Number4" value="0" required><br>

        <label for="opponent_Champion_Banned_Number5">Opponent Banned Champion 5:</label>
        <input type="text" name="opponent_Champion_Banned_Number5" value="0" required><br>

        <label for ="Side_Number">Side Number:</label>
        <input type="text" name="Side_Number" value="1" required><br>

        <label for="opponent_Team_Number">Opponent Team Number:</label>
        <input type="text" name="Opponent_Team_Number" value="1" required><br>

        <label for="vspm_rolling">VSPM Rolling:</label>
        <input type="text" name="vspm_rolling" value="0" required><br>

        <label for="teamkills_rolling">Team Kills Rolling:</label>
        <input type="text" name="teamkills_rolling" value="0" required><br>

        <label for="teamdeaths_rolling">Team Deaths Rolling:</label>
        <input type="text" name="teamdeaths_rolling" value="0" required><br>

        <label for="earned_gpm_rolling">Earned GPM Rolling:</label>
        <input type="text" name="earned_gpm_rolling" value="0" required><br>

        <label for="opponent_vspm_rolling">Opponent VSPM Rolling:</label>
        <input type="text" name="opponent_vspm_rolling" value="0" required><br>

        <label for="opponent_teamkills_rolling">Opponent Team Kills Rolling:</label>
        <input type="text" name="opponent_teamkills_rolling" value="0" required><br>

        <label for="opponent_teamdeaths_rolling">Opponent Team Deaths Rolling:</label>
        <input type="text" name="opponent_teamdeaths_rolling" value="0" required><br>

        <label for="opponent_earned_gpm_rolling">Opponent Earned GPM Rolling:</label>
        <input type="text" name="opponent_earned_gpm_rolling" value="0" required><br>

        <br>
        <input type="submit" value="Predict">
    </form>
    {% if prediction_result is defined %}
        <h2>Prediction Result: {{ prediction_result }}</h2>
    {% endif %}
</body>
</html>
